body {
  font-family: 'Noto Sans TC', "Roboto", "Helvetica", "Arial", sans-serif;
  height: 100%;
  
}

* {
  /* border: 1px solid #000; */
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.App {
  width: 100%;
  /* min-height: 100vh; */
}

@media (min-width: 500px) and (min-height: 900px) {
  .App {
    width: 500px;
    margin: auto;
    height: 900px;
  }
}


